<footer class="footer-10">
  <div class="subscribe-form bg-midnight-blue">
        <div class="container">
            <div class="row">
                <form>
                    <div class="span8">
                        <input type="text" placeholder="Enter your e-mail" spellcheck="false">
                    </div>
                    <div class="span3">
                        <button class="btn btn-large btn-danger" type="submit">Subscribe now</button>
                    </div>
                </form>
                </div> 
            </div>
            
            <div class="row">
                <ul>
                    <li>Here come footers links</li>
                </ul>
            </div>
        </div>
    </div>
</footer>