/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.navbar-default {
 background-color: #013F58;
}

/*.navbar-nav {
padding-top: 25px;
padding-bottom: 5px;
}*/

.navbar-default .navbar-nav>li>a {
color: #FFFFFF;
}
.navbar-nav>.open>a:hover{
	color: #FFFFFF;
	}


.dropdown-menu {
	background color: #FFFFFF;
	color: #013F58;
}

.navbar-nav>li>a:hover{
	color: #FFFFFF;
}




/*#footer{
position: relative;
bottom: 0;
left: 0;
height: 30px;
width: 100%;
background: #7CA69E;
}*/