/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require override
 *= require_tree .
 */

/*.alert {
border: 1px solid transparent;
border-radius: 4px;
}


.navbar-default {
 background-color: #000000;
}

/*.navbar-nav {
padding-top: 25px;
padding-bottom: 5px;
}*/

/*.navbar-default .navbar-nav>li>a {
color: #FFFFFF;
}
.navbar-nav>.open>a:hover{
	color: #FFFFFF;
	}


.dropdown-menu {
	background color: #FFFFFF;
	color: #FFFFFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: #000000;
color: #FFFFFF;
}

.navbar-nav>li>a:hover{
	color: #FFFFFF;
}
*/

/*#////////////footer///////#*/

/*.footer-10 {
  position: relative;
  background: rgba(235, 237, 238, 0.76);
}
.footer-10 > .container {
  padding-top: 90px;
  padding-bottom: 80px;
}
.footer-10 .brand {
  display: inline-block;
  padding: 3px 0 0;
  font-size: 25px;
  font-weight: normal;
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: #34495e;
}
.footer-10 .brand img:first-child {
  float: left;
  margin: -10px 15px 0 0;
}
.footer-10 .brand:hover,
.footer-10 .brand:focus,
.footer-10 .brand.active {
  color: #e74c3c;
}
.footer-10 p {
  font-size: 16px;
  font-weight: normal;
  color: #7f8c8d;
  line-height: 25.6px;
}
.footer-10 a {
  color: #e74c3c;
  font-weight: normal;
}
.footer-10 a:hover,
.footer-10 a:focus,
.footer-10 a.active {
  color: #b93d30;
}
.footer-10 h6 {
  font-size: 18px;
  font-weight: normal;
  color: #34495e;
  font-weight: 500;
  text-transform: none;
}
.footer-10 nav h6 {
  margin: 0 0 15px;
  line-height: 24.000000000000004px;
  color: #34495e;
  font-weight: 500;
}
.footer-10 nav ul {
  list-style: none;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
}
.footer-10 nav ul li {
  margin-bottom: 8px;
}
.footer-10 nav a {
  color: #7f8c8d;
}
.footer-10 nav a:hover,
.footer-10 nav a:focus,
.footer-10 nav a.active {
  color: #667071;
}
@media (max-width: 767px) {
  .footer-10 nav .span2 {
    float: left;
    width: 50%;
  }
  .footer-10 nav .span2 + .span2 + .span2 {
    clear: left;
    margin-top: 30px;
  }
  .footer-10 nav .span2 + .span2 + .span2 + .span2 {
    clear: none;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  .footer-10 .box {
    margin-top: 33px;
  }
}
@media (max-width: 480px) {
  .footer-10 .box {
    margin-top: 33px;
  }
  .footer-10 .box.box-first {
    margin-top: 0;
  }
  .footer-10 .brand {
    margin-bottom: 33px;
  }
}
.footer-10 .subscribe-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer-10 .subscribe-form .span4 {
  text-align: right;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form .span4 {
    text-align: center;
  }
}
.footer-10 .subscribe-form form {
  margin: 0;
  position: relative;
}
.footer-10 .subscribe-form input[type="text"] {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-moz-placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input[type="text"]::-webkit-input-placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input[type="text"].placeholder {
  color: #ffffff;
}
.footer-10 .subscribe-form input[type="text"]::-webkit-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]::-moz-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form input[type="text"]:-ms-input-placeholder {
  font-weight: 500;
  letter-spacing: -1px;
}
.footer-10 .subscribe-form .ani-placeholder {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  padding-left: 6px;
  line-height: 59.99999999999999px;
  font-size: 50px;
  font-weight: normal;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-10 .subscribe-form .btn {
  margin-top: 8px;
  font-weight: 500;
  width: 220px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .footer-10 .subscribe-form {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
@media (max-width: 480px) {
  .footer-10 .subscribe-form input[type="text"],
  .footer-10 .subscribe-form .ani-placeholder {
    width: 100%;
    margin-bottom: 33px;
    line-height: 27px;
    font-size: 25px;
    font-weight: normal;
    color: inherit;
    text-align: center;
  }
}*/